section {
    padding: 100px;
}

input {
    margin: 5px;
}

fieldset {
  margin: 3px;
}
legend {
  background-color: #000;
  color: #fff;
  padding: 3px 6px;
}
button {
background-color: pink;
border-radius: 3px;
}