.container {
    width: 600px;
    align-items: center;
    margin: 0 auto;
}

.heading {
    width: 100px;
    margin: 0 auto ;
    text-align: center;
    padding: 12px;
}

h2 {
    font-weight: 400;
    margin-top: 4px;
}

.FAQ {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #13ab67;
}
summary {
    font-weight: 500;
    font-size: 16pt;
    font-family: Arial, Helvetica, sans-serif;
}

details {
    font-size: 12pt;
    line-height: 2;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
}

.foot {
    width: 100px;
    margin: 40px auto;
}

.signin {
    background-color: #13ab67;
    border: none;
    width: 125px;
    padding: 16px ;
    font-size: 12pt;
    font-weight: 400;
    color: aliceblue;
    border-radius: 4px;
}

.box{
    background-color: chocolate;
    width: 300px;
    height: 300px;
    border: 4px solid;
    padding: 20px;
    margin: 40px;

}

.in{
    background-color: goldenrod;
    height: 100%;

}

.bigbox {
    background-color: pink;
    width: 920px;
    height: 400px;
    border: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
}
.card {
    background-color: antiquewhite;
    width: 168px;
    height: 320px;
    padding: 20px;
    margin: 20px 10px;
    border: 1px solid lightgrey;
    float: left;
}

.card-img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 3/2;
}
.title {
    padding: 4px;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(53, 85, 224);
    margin-top: 4px;   
}

.lorem {
    font-size: 14px;
    padding: 0 2px;
}