
section{
    margin: 50px;
}

.rrr{
    color: wheat;
    background-color: rosybrown;
    padding: 15px;
    font-weight: bold;
    margin: 30px;
}

.faq{
    padding: 40px;
    margin: 100px;
    color: #626264;
}

.tryit {
    background-color: rgb(25, 48, 150);
    color: azure;
    padding: 15px;
    border-radius: 2mm;
    margin: 30px;
}

.highlight{
    color: #13ab67;
}
.purchase {
    width: 300px;;
   
    background-color: #626264;

}
.heading{
    font-size: 36px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aliceblue;
}
.lorem {
    color: azure;
}

.comeon{
    background-color: bisque;
    padding: 10px;
    border-radius: 5px;
    font-size: larger;
    font-weight: bold;
    color: rgb(44, 43, 43);

}